<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger{255} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/processing-core-${byDay}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger{255} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="FILE_FETCH" class="ch.qos.logback.core.FileAppender">
        <file>main-fetch.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger{255} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="com.simplesys.app.SbProcessingApp" level="trace"/>
    <logger name="com.simplesys.dbReader.QueueMessagesEmulator" level="trace"/>
    <logger name="com.datastax.driver.core.Connection" level="info"/>
    <logger name="com.romix.scala.serialization.kryo.KryoClassResolver" level="trace"/>
    <!--Вывод регистрации сервлетов-->
    <logger name="com.simplesys.listener.AppLifeCycleEvent" level="debug"/>
    <!--<logger name="com.simplesys.mfms.containers.ManagerOfFixedTemplates_FetchTemplateActor" level="debug" additivity="false">
        <appender-ref ref="FILE_FETCH"/>
    </logger>-->
    <!--<root level="">-->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
